@mixin center-align($direction, $wrap: true) {
  display: flex;

  @if $wrap {
    flex-wrap: wrap;
  }

  @if $direction == horizontal {
    justify-content: center;
  } @else if $direction == vertical {
    align-content: center;
  } @else if $direction == both {
    align-content: center;
    justify-content: center;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}
