@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap");

$white: #ffffff;
$alt-white: #ebeff3;
$black: #000000;
$gray: #c0cad6;
$green: #0b6623;

$primary-color: #a7e4ea;
$secondary-color: #4d537d;

$background-color: #fafafa;
$text-color: #0d0907;
$error-color: #7c0a02;

$header-font: "Cormorant", serif;
$main-font: "Manrope", sans-serif;

$button-size: 40px;
