@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";

@import "partials/header.scss";
@import "partials/footer.scss";

@import "partials/animation";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  max-width: 100%;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: $background-color;
  color: $text-color;
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;

  @media screen and (min-width: 75em) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;

  @media screen and (min-width: 75em) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media screen and (min-width: 75em) {
    font-size: 2rem;
  }
}

p {
  text-align: justify;

  @media screen and (min-width: 75em) {
    font-size: 1.1rem;
  }
}

ul {
  @media screen and (min-width: 75em) {
    font-size: 1.1rem;
  }
}

img {
  display: block;

  max-width: 100%;
}

main {
  padding: 2rem 0;
  flex-basis: 100%;
  flex-grow: 1;

  @media screen and (min-width: 75em) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  figcaption {
    margin-top: 0.25rem;

    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
  }

  section {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .columns {
    > *:not(:last-child) {
      margin-bottom: 2rem;

      .row {
        > .columns {
          &:last-child {
            @media screen and (min-width: 45em) {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }

    section {
      margin-bottom: 0;
      padding: 1rem;

      height: 100%;

      border: 2px solid $gray;

      section {
        padding: 0;

        height: auto;

        border: none;
      }

      > *:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  position: relative;
  width: 100%;
  max-width: 75rem;

  &.full-width {
    max-width: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  max-width: none;

  > .columns {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.columns {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  flex-basis: 100%;

  @media screen and (min-width: 45em) {
    margin-bottom: 2rem;
  }
}

.columns-2 {
  @media screen and (min-width: 45em) {
    flex-basis: 50%;
  }
}

.content {
  a {
    color: $secondary-color;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: color 0.2s;

    &:hover {
      color: $black;
    }
  }

  .image-wrapper {
    @media screen and (min-width: 75em) {
      margin-left: -15rem;
      margin-right: -15rem;

      max-width: none;
    }
  }

  .font-bold {
    font-weight: 700;
  }

  .sub-content {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.sub-content {
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  img {
    display: inline-block;

    max-width: 100px;

    &.card {
      display: block;

      border: 2px solid $secondary-color;
      border-radius: 6px;
    }
  }
}

.button {
  padding: 0.5rem 1rem;

  background-color: $secondary-color;
  border: none;
  color: $alt-white;
  line-height: 1.5;
  text-transform: uppercase;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:disabled {
    background-color: $gray;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $black;
      color: $white;
      cursor: pointer;
    }

    &:active,
    &.active {
      background-color: $black;
      color: $white;
    }
  }

  &.large {
    padding: 0.5rem 1.5rem;

    font-size: 2rem;
    font-weight: 700;
  }
}

.button-group {
  @include center-align(horizontal, $wrap: true);
  margin-top: 1rem;
  margin-bottom: 1rem;

  flex: 1 1 100%;

  .button {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;

    width: $button-size;
    height: $button-size;

    box-shadow: 2px -2px $gray;

    &:not(:disabled) {
      &:active,
      &.active {
        box-shadow: 1px -1px $gray;
        transform: translate(1px, -1px);
      }
    }
  }
}

.confetti-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &.hidden {
    display: none;
  }

  [class|="confetti"] {
    position: absolute;
  }
}

.lead {
  font-family: $header-font;
  font-size: 1.2rem;
  font-weight: 700;

  &.large {
    font-size: 1.5rem;
  }

  &.extra-large {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .icon {
    height: 100%;

    fill: $text-color;
  }
}

.letter-box {
  display: inline-block;

  width: calc($button-size * 0.7);
  height: calc($button-size * 0.7);

  border-bottom: 3px solid $secondary-color;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: calc($button-size * 0.7);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 45em) {
    width: $button-size;
    height: $button-size;

    font-size: 1.5rem;
    line-height: $button-size;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &.fail {
    border-bottom: 3px solid $error-color;
  }

  &.filled {
    border-bottom: 3px solid $green;
  }
}

.overlay {
  @include center-align(both, $wrap: true);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  transition:
    opacity 0.2s,
    z-index 0s;

  > * {
    flex: 1 1 100%;

    text-align: center;
  }

  &.hidden {
    z-index: -1;

    opacity: 0;
    transition:
      opacity 0.2s,
      z-index 0.2s 0.2s;
  }

  p {
    white-space: pre-line;
  }
}

.menu {
  margin-top: 2rem;
}

.word-wrapper {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  flex: 0 0 auto;
}

#container {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

#display {
  figure {
    @include center-align(horizontal, $wrap: true);
  }
}

#display-control {
  @include center-align(horizontal, $wrap: true);
}

#guesses {
  @include center-align(both, $wrap: true);
  flex: 1 1 100%;
}

#keyboard {
  max-width: calc(($button-size + 1rem) * 9);
}

#hint {
  margin-top: 2rem;
  margin-bottom: 2rem;

  flex: 1 1 100%;

  &.hidden {
    display: none;
  }

  details {
    @include center-align(horizontal, $wrap: true);
  }

  div {
    flex: 1 1 100%;

    max-width: 30rem;
  }

  summary {
    padding: 0.5rem;
    flex: 1 1 100%;

    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    transition: color 0.2s;

    &:hover {
      color: $error-color;
      cursor: pointer;
    }
  }
}
